---
import type { CollectionEntry } from 'astro:content';
// import { Picture } from '@astrojs/image/components';
  import { Picture } from "astro-imagetools/components";
import BaseLayout from '../layouts/BaseLayout.astro'
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout>
	<main>
		<article>
			<!-- {heroImage && <Picture width={[720]} height={[360]} aspectRatio={2/1} src={heroImage} alt={title} class="w-full" />} -->
			{heroImage && <Picture width={[720]} height={[360]} aspectRatio={2/1} src={heroImage} alt={title} attributes={{ class:"w-full"}} />}
			<h1 class="title">{title}</h1>
			<FormattedDate date={pubDate} />
			{
				updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
				)
			}
			<hr />
			<slot />
		</article>
	</main>
</BaseLayout>
