---
import type { CollectionEntry } from 'astro:content';
import { Image } from '@astrojs/image/components';

import BaseLayout from '../layouts/BaseLayout.astro'
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout>
	<main>
		<article>
			{heroImage && <Image width="720" height="360" src={heroImage} alt={title} class="w-full" />}
			<h1 class="title">{title}</h1>
			<FormattedDate date={pubDate} />
			{
				updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
				)
			}
			<hr />
			<slot />
		</article>
	</main>
</BaseLayout>
