---
import type { CollectionEntry } from 'astro:content';
import { Image } from '@astrojs/image/components';

import BaseLayout from '../layouts/BaseLayout.astro'
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, date, updatedDate, image } = Astro.props;
---

<BaseLayout>
	{image && <Image width="720" height="360" src={image} alt={title} class="w-full" />}

	<div class="container mx-auto p-8 space-y-8">
		<h1 class="title">{title}</h1>
		<FormattedDate date={date} />
		{
			updatedDate && (
			<div class="last-updated-on">
				Last updated on <FormattedDate date={updatedDate} />
			</div>
			)
		}
		<hr />
		<slot />
	</div>
</BaseLayout>
